input[type=checkbox] {
    position: absolute; 
    cursor: pointer; 
    width: 27%;
    height: 5%; 
    z-index: 100; 
    opacity: 0; 
  }

.curtain-panel-center{
    width: 0%;
    height: 0%;
    opacity: 0;
}

input[type=checkbox]:checked ~ div.curtain-panel-left {
    transform: translateX(-8%);
    transition: all 1s ease;
}

input[type=checkbox]:checked ~ div.curtain-panel-right {
    transform: translateX(2%);
    transition: all 1s ease;
}

input[type=checkbox]:checked ~ div.curtain-panel-center {
    transition: all 1s ease;
    width: auto;
    height: auto;
    opacity: 100%;
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;        
    }

    input[type=checkbox]:checked ~ div.curtain-panel-left {
        transform: translateY(-8%);
        transition: all 1s ease;
    }
    
    input[type=checkbox]:checked ~ div.curtain-panel-right {
        transform: translateY(5%);
        transition: all 1s ease;
    }
    
    input[type=checkbox]:checked ~ div.curtain-panel-center {
        transition: all 1s ease;
        width: auto;
        height: auto;
        opacity: 100%;
    }
}
