*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Roboto Mono', sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.404), rgba(255, 255, 255, 0.226)), url(resources/background.jpg) no-repeat center center;
    background-size: cover;

}

header{
    font-family: 'Playfair Display', serif;
    font-style: unset;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2em;
    padding: 30px 30%;
    background:#222;
    color: #FFFFFF;
    overflow:hidden;
    opacity: 98%;
}

nav{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
    opacity: 93%;
}