  nav a {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
    margin-left: 1em;
    padding: 0.3em;
}
   
nav a:hover {
    background-color: #005f5f;
}
   
nav a:active {
    background-color: #fff;
    color: #444;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    nav a{
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #ccc;
    }
}